body {
  font-family: Arial, sans-serif;
  background-color: rgba(221, 224, 226, 0.5);
}

.container {
  max-width: 600px;
  margin: 0 auto; /* Center align container */
  text-align: center;
  padding: 20px;
}

h1, h2 {
  color: rgba(20,98,10,0.822);
}

.nav-link {
  color: #006400;
  font-size: 18px;
}

.nav-link:hover {
  color: #00a000;
}

hr {
  border: 1px solid #006400;
}

img {
  margin-right: 10px;
}

.table th, .table td {
  text-align: center;
  vertical-align: middle;
}
